html,
body,
#root {
  height: 100%;

  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 850px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}
